<div class="container">
  <p class="question">
    <%= params[:question] %><br>
    You <br><br>
  </p>
  <p class="answer">
    <%= @answer %><br>
    Your Coach <br><br><br>
  </p>
    <%= link_to "Ask a new question", ask_path %>
</div>
